#header {
	background: url(img/backgroundfolder.png);
	height: 145px;
}
#serviceLeft {
	font-family: serif;
	width: 460px;
	height: 40px;
	margin-left: 230px;
	float: left;
	clear: both;
}
#serviceLeft ul {
	font-size: 15px;
}
#serviceLeft ul li {
	display: inline-table;
	list-style-type: none;
	line-height: 40px;
	text-align: center;
	padding: 0 5px;
}
#serviceLeft ul li a {
	color: white;
	text-decoration: none;
}
#serviceLeft ul li a:hover {
	color: gray;
}
#icon1 {
	width: 20px;
	height: 20px;
}
#serviceRight {
	font-family: serif;
	padding:5px 0 0 0;
	float: right;
	width: 500px;
	height: 40px;
	margin-right: 230px;
}
#serviceRight ul {
	font-size: 15px;
}
#serviceRight ul li {
	display: inline-table;
	list-style-type: none;
	line-height: 40px;
	padding: 0 5px;
	text-align: center;
}
#serviceRight ul li a {
	color: white;
	text-decoration: none;
}
#serviceRight ul li a:hover {
	color: gray;
}
#logo {
	width: 100%;
	height: 70px;
	display: inline-table;
	text-align: center;
}
#logo > img {
	width: 170px;
	height: 80px;
	margin-left: 160px;
}
#logo > #search {
	width: 600px;
	margin: 0 auto;
	margin-left: 40px;
	padding: 6px 20px;
	border-radius: 25px 0 0 25px;
}
#logo > #submit {
	width: 100px;
	height: 40px;
	border-radius: 0 25px 25px 0;
}
#logo > #icon2 {
	width: 65px;
	height: 55px;
    margin-right: 100px;
}
#menuSidebar {
	font-family: serif;
	width: 700px;
	height: 22px;
	margin-left: 420px;
}
#menuSidebar ul {
	font-size: 15px;
}
#menuSidebar ul li {
	display: inline-table;
	list-style-type: none;
	line-height: 22px;
	padding: 0 8px;
}
#menuSidebar ul li a {
	color: white;
	text-decoration: none;
}
#menuSidebar ul li a:hover {
	color: gray;
}
#banner {
	width: 1100px;
	height: 220px;
	margin: 0 auto;
	margin-top: 20px;
}
#this {
	width: 690px;
	height: 220px;
	float: left;
}
#item1 {
	height: 220px;
}
#bannerRight {
	width: 400px;
	height: 220px;
	float: right;
	margin-left: 5px;
}
#banner1 {
	width: 400px;
	height: 105px;
	background: yellow;
	padding: 0 
}
#banner2 {
	width: 400px;
	height: 105px;
	background: brown;
    margin-top: 10px
}
#item2 {
	width: 400px;
	height: 105px;
}
#menuCustom {
	text-align: center;
	width: 100%;
	height: 130px;
	margin-top: 10px;
}
#menuCustom ul {
	font-size: 15px;
	margin-right: 30px;
}
#list {
	width: 110px;
	height: 150px;
}
#list > div {
	width: 80px;
	margin: 0 auto;
	padding: 5px;
}
#list > img {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 12px;
	margin-top: 10px
}
#menuCustom ul li {
	display: inline-table;
	list-style-type: none;
	position: relative;
}
#menuCustom ul li a {
	text-decoration: none;
	color: black;
}
#menuCustom ul li #list:hover {
	background: lightgray;
}
#footer{
	width: 100%;
	background-color: lightgray;
	height: 600px;
	margin-top: 25px;
}
#sideBar {
	text-align: center;
	padding: 25px 0 5px 0 ;
}
#sideBar >ul >li > a > img {
	width: 1100px;
	height: 100px;
	border-radius: 10px;
	margin-right: 30px;
}
#sideBar > ul >li {
	list-style-type: none;
}
#menuProduct {
	width: 1100px;
	height: 400px;
	background: white;
	margin: 0 auto;
	border-radius: 5px;
	margin-right: 235px;
}
#title {
	height: 60px;
	border-bottom: 1px solid #ccc;
}
#title p {
	padding: 15px 30px;
}
.listProduct ul li {
	display: inline-table;
	list-style-type: none;
}
.listProduct ul li a {
	text-decoration: none;
	color: black;
}
.listProduct ul li a div:hover {
	background: lightgray;
}
.product {
	width: 100px;
	height: 145px;
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}
.product #item2 {
	width: 50px;
	height: 50px;
	border-radius: 30px;
} 
.product > div > p {
	text-align: center;
	padding: 6px 0 0 0;
}











